
# The gemfile is not included in the repo
# Use `gem build metrc.gemspec` to build it yourself
*.gem

/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

# asdf
.tool-versions
